body {
    margin: 0;
    padding: 0;
    background-color: lightsalmon;
}

.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.country {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.country img {
    width: 200px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .countries {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}